<h4>daily  {{format-number dailyBudget precision=2}}</h4>
<h4>weekly {{format-number weeklyBudget precision=2}}</h4>
<h4>monthly {{format-number monthlyBudget precision=2}} </h4>
<br />
{{#if displayYearly}}
  <h4>yearly {{format-money yearlyBudget precision=2 symbol=currency.symbol}}</h4>
{{/if}}
