<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h2 id="title">Astro Budget</h2>
    </div>
  </div>
  <div class='row'></div>
  <div class='row'></div>
  <div class='row'></div>
  <div class='row'>
    <div class='col-md-3'>
      {{#link-to 'budget'}} <button class='jumbotron btn btn-success'>Edit Financials</button> {{/link-to}}
    </div>
    <div class='col-md-3'>
      {{#link-to 'month'}}<button class='jumbotron btn btn-success'>Month</button>{{/link-to}}
    </div>
  </div>
</div>

{{outlet}}
